In [1]:
#imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix 

import acquire as ac
import prepare as pr

import warnings
warnings.filterwarnings("ignore")

1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample

In [2]:
# aquire the data 
df = ac.get_titanic_data()
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [3]:
# clean the data
df = pr.prep_titanic_2(df)
df.head()

   survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0         0       3    male  22.0      1      0   7.2500  Southampton      0
1         1       1  female  38.0      1      0  71.2833    Cherbourg      0
2         1       3  female  26.0      0      0   7.9250  Southampton      1
3         1       1  female  35.0      1      0  53.1000  Southampton      0
4         0       3    male  35.0      0      0   8.0500  Southampton      1

In [18]:
dumiies = pd.get_dummies(df['embark_town'], drop_first = False)
df = pd.concat([df, dumiies], axis = 1)

In [21]:
sex_dummy = pd.get_dummies(df['sex'], drop_first = False)
df = pd.concat([df, sex_dummy], axis = 1)
drop_cols = ['sex', 'embark_town']
df = df.drop(columns = drop_cols)

In [22]:
# split the data 
train, validate, test = pr.split_data(df, 'titanic')
train.head()

,survived,pclass,age,sibsp,parch,fare,alone,Cherbourg,Queenstown,Southampton,Cherbourg,Queenstown,Southampton,female,male,female,male
474,0,3,22.0,0,0,9.8375,1,0,0,1,0,0,1,1,0,1,0
370,1,1,25.0,1,0,55.4417,0,1,0,0,1,0,0,0,1,0,1
573,1,3,30.0,0,0,7.7500,1,0,1,0,0,1,0,1,0,1,0
110,0,1,47.0,0,0,52.0000,1,0,0,1,0,0,1,0,1,0,1
167,0,3,45.0,1,4,27.9000,0,0,0,1,0,0,1,1,0,1,0

In [23]:
# drop object columns and create X_train of features only 
# and y_train of survived only. 
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

# check the shape
X_train.shape, X_validate.shape, X_test.shape

((498, 16), (214, 16), (179, 16))

In [24]:
baseline_prediction = y_train.mode()

In [25]:
pd.Series((baseline_prediction[0]), range(len(y_train)))

0      0
1      0
2      0
3      0
4      0
      ..
493    0
494    0
495    0
496    0
497    0
Length: 498, dtype: int64

In [26]:
# funciton created by brook
def establish_baseline(y_train):
    #  establish the value we will predict for all observations
    baseline_prediction = y_train.mode()

    # create a series of predictions with that value, 
    # the same length as our training set
    y_train_pred = pd.Series((baseline_prediction[0]), range(len(y_train)))

    # compute accuracy of baseline
    cm = confusion_matrix(y_train, y_train_pred)
    tn, fp, fn, tp = cm.ravel()

    accuracy = (tp+tn)/(tn+fp+fn+tp)
    return accuracy

In [27]:
establish_baseline(y_train)

0.6164658634538153

Now we can fit:

In [28]:
# MAKE the thing
knn = KNeighborsClassifier()

# FIT the thing
knn.fit(X_train, y_train)

# USE the thing
y_train_pred = knn.predict(X_train)

AttributeError: 'Flags' object has no attribute 'c_contiguous'